{% extends "/layouts/layout-sis.html" %}

{% block pageTitle %}
  DM Archive search – Suspense investigation – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          <form class="form" action="../results/partial/index" method="post">

      <h1 class="govuk-heading-l">
        DM Archive search
      </h1>

     <h2 class="govuk-heading-m">
        Customer details
      </h2>

       <div class="govuk-form-group">
            <label class="govuk-label" for="passport-number">
            NINO
            </label>
            <input class="govuk-input govuk-input--width-10" id="one-half" name="oneHalf" type="text">
      </div>

      <div class="govuk-form-group">
            <label class="govuk-label" for="passport-number">
              Account number
            </label>
            <div id="waste-hint" class="govuk-hint">
                Search for customer or debt account number
            </div>
            <input class="govuk-input govuk-input--width-10" id="one-half" name="oneHalf" type="text">
      </div>

        <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
    <label class="govuk-label" for="one-half">
        First names
    </label>
    <input class="govuk-input govuk-!-width-full" id="one-half" name="oneHalf" type="text">
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
    <label class="govuk-label" for="one-half">
        Last name
    </label>
    <input class="govuk-input govuk-!-width-full" id="one-half" name="oneHalf" type="text">
    </div>
    </div>
  </div>
</div>
</div>

      <div class="govuk-form-group">
            <label class="govuk-label" for="passport-number">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="one-half" name="oneHalf" type="text">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>

      </form>
  </div>
</div>

{% endblock %}