{% extends "/layouts/layout-sis.html" %}

{% block pageTitle %}
Home – Suspense investigation – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Search for a customer
      </h1>

          <p class="govuk-body">You can use the following tools to search for a customer, depending on the information you have available.</p>

    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Customer</a>
                    </h2>
                    <p class="govuk-body card__description">Search for a customer using customer or employer information.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Correspondent</a>
                    </h2>
                    <p class="govuk-body card__description">Search for a customer using correspondent information. For example, next of kin, solicitor, or executor.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="use-of-force">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="../search/index.html" onclick="showAlert()">DM Archive</a>
                    </h2>
                    <p class="govuk-body card__description">Search for a customer whose account is inactive, their recoverable debt has been cleared or written off.</p>
                </div>
            </li>
        </ul>
    </div>    

  </div>
</div>
      


  </div>

{% endblock %}