{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <p class="govuk-body">This service is in a <strong class="govuk-tag govuk-tag--blue">pilot</strong> phase, we continue to make iterations to the service.</p>

    <p>UCD Team:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Sophie Friell (Interaction Designer)</li>
      <li>Dani Sharp (Content Designer)</li>
      <li>Michael Lo (User Researcher)</li>
    </ul>

    <p class="govuk-body">Prototype quick start: <a href="/v4/homepage/index.html">Version 4</a></p>

    <h2 class="govuk-heading-m">What we are currently working on</h2>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Clear search
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17647" target="_blank">Design ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                Clearing the search requires returning to the home page. This can potentially be time consuming for agents performing many searches.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design options
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/v4/customer/search/index">Customer search</a>
                  </li>
                  </ul>
                </dd>
                </div>                
               </dl>

      </div>
    </div>
    

     <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              DM Archive
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-16180" target="_blank">Design ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    Signed off
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                DM Archive include (not limited to but include) overpayments that have been paid and are over a year old or overpayments that DWP have written off. Agents need to access DM Archive when a NINO or IND has been quoted but the payment is not coming up in the system.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  V10 designs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/dm-archive/homepage/index.html">Home</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/search/index.html">Search</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/partial/index.html">Results (Partial)</a>
                  </li>
                  <!-- <li>
                    <a href="./v3/dm-archive/results/full-nino/index.html">Results (Full NINO) (design a)</a>
                  <li> -->
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/indexb.html">Results (Full NINO) (design b)</a>
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/transactions/index.html">Transactions</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/transactions/vra.html">Transactions (VRA)</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/diary/index.html">Diary</a>
                  </li> 
                   <li>
                    <a href="./v3/dm-archive/results/full-nino/diary/vra.html">Diary (VRA)</a>
                  </li>              
                  </ul>
                </dd>
                </div>

                <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Research links
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="research-index.html">Index page</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/a.html">Scenario A</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/b.html">Scenario B</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/c.html">Scenario C</a>
                  </li>
                </ul>
                </dd>
                </div> -->
                
               </dl>

              </div>
              </div>


    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Non-essential results returned
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" target="_blank" href="https://dwpdigital.atlassian.net/browse/DDSP-17360">Design ticket<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="#">Build ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    Paused
                  </strong> - improve speed of service first
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                The current release has a combined customer and employer search front end. The results from these searches includes a listing of debts for each matched customer or employer/customer. Some users have stated that when undertaking an employer search, there is no requirement for the debt listing (although debt balance search capability should be maintained?). Since the listing enlarges the results tiles, removing it from employer search results will enable more efficient viewing of the tiles.
              </div>

               <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 1 -  Split searches
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/search/reimagined.html">Customer search page</a>
                  </li>
                  <li>
                    <a href="./v3/customer/results/reimagined.html">Customer search results</a>
                  </li>
                  <li>
                    <a href="./v3/employer/search/reimagined.html">Employer search page</a>
                  </li>
                  <li>
                    <a href="./v3/employer/results/reimagined.html">Employer search results</a>
                  </li>
                  </ul>
                </dd>
                </div>    -->
                
                <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 2 - Add to search page
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                </div>   -->

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 3 - Add as filter (selected)
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/results/index">Customer search results</a>
                  </li>
                  </ul>
                </dd>
                </div>  

               </dl>

      </div>
    </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              New home page
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Build ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    Paused
                  </strong>
                  - DWP Design Team looking into this
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                Following developments of the DM Archive work we have redesigned the service entry page to make it more scaleable for when additional reports are added later down the line.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Redesigned entry page
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/homepage/index.html">Search for a customer (card approach)</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/homepage/indexb.html">Search for a customer (current approach)</a>
                  </li>
                  </ul>
                </dd>
                </div>                
               </dl>

      </div>
    </div>
    
   
  </div>
</div>

{% endblock %}
